DATABASE_URL="postgresql://postgres:password@localhost:5432/unifound"
JWT_SECRET=your_super_secret_key_here
PORT=3000
APP_URL=http://localhost:3000

# SMTP Configuration for Email Verification
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM="UniFound" <noreply@unifound.com>
